﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Каталог вакансий</h1>
    <p class="lead">Приложение предназначено собирать резюме с раздела «Работа в Екатеринбурге» портала E1 и предоставляющее возможности по просмотру и поиску отобранных резюме.</p>
    <p>@Html.ActionLink("Перейти в каталог", "Catalog", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>